 <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
   
    <h6 class="display-8 navbar-text">&copy; 2023 Simarpreet Kaur Kang. All rights reserved</h6>
    </div>
    </nav>
 </footer>